/* Importar fuente de letra desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Definición de variables globales de colores */
:root {
  --primary-color: #17195e;
  --color-azul: #92bdf6;
  --color-azul2: #c6defd;
  --background-color: #f8f8f8;
  --menu-color: rgba(225, 225, 225, 0.81);
  --color-verde: #a3dac2;
  --color-rojo: #e7c2d4;
  --color-gris: #e1e1e1;
  --success-color: #28a745;
  --warning-color: #ff914d;
  --error-color: #dc3545;
}

/* Estilos globales */
body {
  font-family: 'Outfit', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
}

/* Estilos de componentes */
.header {
  display: flex;
  justify-content: space-evenly;
  padding: 3%;
  background-color: var(--menu-color);
  color: var(--primary-color);
  border-radius: 25px;
  position: relative;
  width: 90%;
  height: 7em;
  margin: 0 auto;
  top: 10px;
}


.hero {
  background-color: var(--primary-color);
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.services {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: var(--primary-color);
}

.insurers {
  text-align: center;
  padding: 1rem;
  color: var(--primary-color);
}

.personal-health {
  background-color: var(--color-azul2);
  text-align: center;
  padding: 2rem;
  color: var(--primary-color);
}

.footer {
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;
  bottom: 0;
  top: 100px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: auto;
  height: 70px;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

/* Estilos de navegación */
.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  margin-left: 20px;
}

.navigation a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 500;
}

.navigation a:hover {
  color: var(--color-azul);
}

/* Estilos personalizados para botones de Vuetify */
.v-btn {
  font-family: 'Outfit', sans-serif;
  font-size: 1em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  text-transform: none; /* Evita que el texto esté en mayúsculas */
}

/* Estilo para el botón primario corporativo */
.v-btn.primary {
  background-color: var(--primary-color) !important;
  color: white !important;
}

/* Botón de éxito (Guardar Cambios) */
.v-btn.success {
  background-color: var(--success-color) !important;
  color: white !important;
}

/* Botón de advertencia */
.v-btn.warning {
  background-color: var(--warning-color) !important;
  color: rgb(0, 0, 0) !important;
}

/* Botón de error (rojo) */
.v-btn.error {
  background-color: var(--error-color) !important;
  color: white !important;
}

/* Botón gris (Cancelar) */
.v-btn.grey {
  background-color: var(--color-gris) !important;
  color: black !important;
}

/* Estilos específicos para el botón principal */
.boton-principal {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
}

/* Estilo personalizado para enlaces en botones */
.btn-primary {
  background-color: var(--color-azul);
  color: white;
  font-size: 1.2em;
  padding: 10px 20px;
  border-radius: 8px;
}

/* Alineación de botones en lista de usuarios */
.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.user-actions {
  display: flex;
  gap: 10px;
  margin-right: 25px;
}

.user-info {
  text-align: left;
  color: var(--primary-color);
}

/* Asegura que todos los elementos usen la fuente 'Outfit' */
* {
  font-family: 'Outfit', sans-serif;
}

.texto-centrado {
  text-align: center;
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
}

/* Estilos especialidades */

input,
select,
textarea,
button {
  outline: 0;
}

.banner-principal {
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 2%;
  top: 30px;
  background: var(--primary-color);
  border-radius: 45px;
}

.letra-chica {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 2rem;
  top: 1rem;
  text-transform: uppercase;
  color: var(--background-color);

}

.letra-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #c6ddfc;
  font-family: Outfit, var(--default-font-family);
  font-size: 8rem;
  font-weight: 700;
  text-align: center;
}

.search-bar {
  position: relative;
  margin: 0 auto;
  width: 362px;
  height: 44px;
  top: 50px;
  padding-left: 3px;
  background: #c6ddfc;
  display: flex;
  align-items: center;
  align-content: center;
  border-radius: 300px;
}

.search-icon {
  position: relative;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
  border-radius: 100px;
}

.buscar {
  position: absolute;
  left: 51px;
  font-size: 18px;
  line-height: 15px;
}

.sections {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  gap: 45px;
  height: fit-content;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.section-head {
  position: relative;
  margin: 0 auto;
  width: 92%;
}

.section-text {
  position: relative;
  height: 82px;
  color: var(--primary-color);
  font-family: Outfit, var(--default-font-family);
  font-size: 80px;
  font-weight: 700;
  text-align: left;
}

.button-todos {
  position: relative;
  width: 302px;
  height: 62px;
  float: right;
  font-family: Outfit, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  color: var(--primary-color);
  background: #c6ddfc;
  border-radius: 60px;
  top: 10px;
}

.big-buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  margin: 0 auto;
  }

.big-button-blue {
  position: relative;
  width: 320px;
  height: 465px;
  background: #c6ddfc;
  border-radius: 60px;
  margin: 0 auto;

}

.img-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 60px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.buttons-text-esp {
  position: relative;
  color: #17195e;
  top: 155px;
  font-family: Outfit, var(--default-font-family);
  font-size: 45px;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
}

.buttons-text-eq-med {
  position: relative;
  color: #17195e;
  top: 150px;
  font-family: Outfit, var(--default-font-family);
  font-size: 2rem;
  font-weight: 600;
  line-height: 46px;
  text-align: center;
}

.buttons-text-eq-med-dep {
  position: relative;
  color: #17195e;
  top: 160px;
  font-family: Outfit, var(--default-font-family);
  font-size: 1.4rem;
  line-height: 46px;
  text-align: center;
}

.big-button-green {
  position: relative;
  width: 320px;
  height: 465px;
  background: #a3dac2;
  border-radius: 60px;
  margin: 0 auto;

}
